In [1]:
import pandas as pd

In [2]:
# Read the CSV file into a pandas DataFrame
matches = pd.read_csv('matches4.csv', index_col=0)

In [3]:
# Display the first few rows of the DataFrame
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,...,Match Report,NaN,13.0,1.0,18.7,1.0,1.0,1.0,2022,Manchester City
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,...,Match Report,NaN,19.0,7.0,17.5,0.0,0.0,0.0,2022,Manchester City
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,...,Match Report,NaN,21.0,10.0,16.2,1.0,0.0,0.0,2022,Manchester City
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,...,Match Report,NaN,18.0,5.0,14.1,0.0,0.0,0.0,2022,Manchester City
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,...,Match Report,NaN,17.0,9.0,14.8,0.0,0.0,0.0,2022,Manchester City

In [4]:
# Get the shape (rows, columns) of the DataFrame
matches.shape

(3800, 27)

In [5]:
# Count the number of occurrences of each team in the 'team' column
matches["team"].value_counts()

Manchester City             190
Crystal Palace              190
Southampton                 190
Leicester City              190
Everton                     190
Arsenal                     190
Wolverhampton Wanderers     190
Chelsea                     190
West Ham United             190
Manchester United           190
Tottenham Hotspur           190
Brighton and Hove Albion    190
Liverpool                   190
Newcastle United            190
Aston Villa                 152
Burnley                     152
Fulham                      114
Watford                     114
Leeds United                114
Bournemouth                 114
Brentford                    76
Norwich City                 76
Sheffield United             76
Nottingham Forest            38
West Bromwich Albion         38
Cardiff City                 38
Huddersfield Town            38
Name: team, dtype: int64

In [6]:
# Check the data types of the columns in the DataFrame
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [7]:
# Convert the 'date' column to datetime format
matches['date'] = pd.to_datetime(matches['date'])

In [8]:
# Check the data types after conversion
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [9]:
# Convert the 'venue' column to categorical type and encode it as numerical codes
matches['venue_code'] = matches['venue'].astype('category').cat.codes

In [10]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,notes,sh,sot,dist,fk,pk,pkatt,season,team,venue_code
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,...,NaN,13.0,1.0,18.7,1.0,1.0,1.0,2022,Manchester City,0
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,...,NaN,19.0,7.0,17.5,0.0,0.0,0.0,2022,Manchester City,1
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,...,NaN,21.0,10.0,16.2,1.0,0.0,0.0,2022,Manchester City,0
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,...,NaN,18.0,5.0,14.1,0.0,0.0,0.0,2022,Manchester City,1
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,...,NaN,17.0,9.0,14.8,0.0,0.0,0.0,2022,Manchester City,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2019-04-13,12:30,Premier League,Matchweek 34,Sat,Away,L,0.0,4.0,Tottenham,...,NaN,7.0,1.0,18.9,1.0,0.0,0.0,2018,Huddersfield Town,0
36,2019-04-20,15:00,Premier League,Matchweek 35,Sat,Home,L,1.0,2.0,Watford,...,NaN,13.0,3.0,18.1,1.0,0.0,0.0,2018,Huddersfield Town,1
37,2019-04-26,20:00,Premier League,Matchweek 36,Fri,Away,L,0.0,5.0,Liverpool,...,NaN,5.0,1.0,21.6,0.0,0.0,0.0,2018,Huddersfield Town,0
38,2019-05-05,14:00,Premier League,Matchweek 37,Sun,Home,D,1.0,1.0,Manchester Utd,...,NaN,7.0,3.0,19.0,1.0,0.0,0.0,2018,Huddersfield Town,1
39,2019-05-12,15:00,Premier League,Matchweek 38,Sun,Away,D,1.0,1.0,Southampton,...,NaN,10.0,3.0,22.2,0.0,0.0,0.0,2018,Huddersfield Town,0

In [11]:
# Convert the 'opponent' column to categorical type and encode it as numerical codes
matches['opp_code'] = matches['opponent'].astype('category').cat.codes

In [12]:
# Extract the hour from the 'time' column and convert it to integer format
matches['hour'] = matches['time'].str.replace(':.+', '', regex=True).astype('int')

In [13]:
# Extract the day of the week from the 'date' column and encode it as numerical codes
matches['day_code'] = matches['date'].dt.dayofweek

In [14]:
# Create a binary target column indicating whether the result is 'W' (win)
matches['target'] = (matches['result'] == 'W').astype('int')

In [15]:
# Import the RandomForestClassifier from scikit-learn
from sklearn.ensemble import RandomForestClassifier

In [16]:
# Initialize a Random Forest classifier with specified parameters
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [17]:
# Split the data into training and test sets based on the 'date' column
train = matches[matches['date'] < '2022-01-01']
test = matches[matches['date'] > '2022-01-01']

In [18]:
# Define the predictors for the model
predictors = ['venue_code', 'opp_code', 'fk', 'sot']

In [19]:
# Fit the Random Forest classifier to the training data
rf.fit(train[predictors], train['target'])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [20]:
# Make predictions on the test data
preds = rf.predict(test[predictors])

In [21]:
# Import the accuracy_score and precision_score metrics from scikit-learn
from sklearn.metrics import accuracy_score, precision_score

In [22]:
# Calculate the accuracy score of the predictions
acc = accuracy_score(test['target'], preds)

In [23]:
acc

0.671602787456446

In [24]:
# Create a DataFrame to compare the actual and predicted values
combined = pd.DataFrame(dict(actual=test['target'], prediction=preds))

In [25]:
# Create a cross-tabulation table of the actual and predicted values
cross_tab = pd.crosstab(index=combined['actual'], columns=combined['prediction'])

In [26]:
from sklearn.metrics import precision_score

In [27]:
# Calculate the precision score of the predictions
precision = precision_score(test['target'], preds)

In [28]:
# Group the matches DataFrame by 'team'
grouped_matches = matches.groupby('team')

In [29]:
# Define a function to calculate rolling averages for specific columns
def rolling_averages(group, cols, new_cols):
    # Sort the group by 'date'
    group = group.sort_values('date')
    # Calculate rolling averages for specified columns
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    # Assign the rolling averages to new columns in the group
    group[new_cols] = rolling_stats
    # Drop rows with missing values in the new columns
    group = group.dropna(subset=new_cols)
    return group

In [30]:
# Define the columns for which rolling averages will be calculated
cols = ['gf', 'ga', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt']
new_cols = [f'{c}_rolling' for c in cols]

In [31]:
# Apply the rolling_averages function to each group in the matches DataFrame
matches_rolling = matches.groupby('team').apply(lambda x: rolling_averages(x, cols, new_cols))

In [32]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 3  2018-09-02  13:30  Premier League   Matchweek 4
                        4  2018-09-15  15:00  Premier League   Matchweek 5
                        6  2018-09-23  16:00  Premier League   Matchweek 6
                        8  2018-09-29  15:00  Premier League   Matchweek 7
                        10 2018-10-07  12:00  Premier League   Matchweek 8
...                               ...    ...             ...           ...
Wolverhampton Wanderers 39 2023-04-29  15:00  Premier League  Matchweek 34
                        40 2023-05-06  15:00  Premier League  Matchweek 35
                        41 2023-05-13  15:00  Premier League  Matchweek 36
                        42 2023-05-20  15:00  Premier League  Matchweek 37
                        43 2023-05-28  16:30  Premier League  Matchweek 38

                            day venue result   gf   ga        opponent  ...  \
team                                                                    ...
Arsenal                 3   Sun  Away      W  3.0  2.0    Cardiff City  ...
                        4   Sat  Away      W  2.0  1.0   Newcastle Utd  ...
                        6   Sun  Home      W  2.0  0.0         Everton  ...
                        8   Sat  Home      W  2.0  0.0         Watford  ...
                        10  Sun  Away      W  5.0  1.0          Fulham  ...
...                         ...   ...    ...  ...  ...             ...  ...
Wolverhampton Wanderers 39  Sat  Away      L  0.0  6.0        Brighton  ...
                        40  Sat  Home      W  1.0  0.0     Aston Villa  ...
                        41  Sat  Away      L  0.0  2.0  Manchester Utd  ...
                        42  Sat  Home      D  1.0  1.0         Everton  ...
                        43  Sun  Away      L  0.0  5.0         Arsenal  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 3          6       1    1.666667    2.000000
                        4          5       1    2.666667    2.000000
                        6          6       1    2.666667    1.333333
                        8          5       1    2.333333    1.000000
                        10         6       1    2.000000    0.333333
...                              ...     ...         ...         ...
Wolverhampton Wanderers 39         5       0    1.666667    0.666667
                        40         5       1    1.000000    2.666667
                        41         5       0    1.000000    2.000000
                        42         5       0    0.333333    2.666667
                        43         6       0    0.666667    1.000000

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 3   13.666667    6.333333    18.166667   0.333333
                        4   16.333333    9.000000    17.300000   0.333333
                        6   15.333333    7.666667    17.333333   0.666667
                        8   12.666667    6.000000    17.133333   0.333333
                        10  10.000000    3.000000    16.666667   0.333333
...                               ...         ...          ...        ...
Wolverhampton Wanderers 39  11.666667    4.666667    18.700000   0.666667
                        40  11.333333    2.333333    18.800000   0.666667
                        41   8.000000    2.000000    17.766667   0.000000
                        42   7.000000    1.333333    15.600000   0.000000
                        43   8.000000    2.333333    15.333333   0.333333

                            pk_rolling  pkatt_rolling
team
Arsenal                 3     0.000000       0.000000
                        4     0.000000       0.000000
                        6     0.000000       0.000000
                        8     0.000000       0.000000
                        10    0.000000       0.000000
...                                ...            ...
Wolverhampton Wanderers 39    0.333333       0.333333
                        40    0.333333       0.333333
                        41    0.333333       0.333333
                        42    0.000000       0.000000
                        43    0.000000       0.000000

[3713 rows x 40 columns]

In [33]:
# Drop the group-level index from the matches_rolling DataFrame
matches_rolling = matches_rolling.droplevel('team')

In [34]:
# Reset the index of the matches_rolling DataFrame
matches_rolling.index = range(matches_rolling.shape[0])

In [35]:
# Define a function to make predictions using the Random Forest classifier
def make_predictions(data, predictors):
    # Split the data into training and test sets based on the 'date' column
    train = data[data['date'] < '2022-01-01']
    test = data[data['date'] > '2022-01-01']
    # Fit the Random Forest classifier to the training data
    rf.fit(train[predictors], train['target'])
    # Make predictions on the test data
    preds = rf.predict(test[predictors])
    # Create a DataFrame to compare the actual and predicted values
    combined = pd.DataFrame(dict(actual=test['target'], prediction=preds), index=test.index)
    # Calculate the precision score of the predictions
    precision = precision_score(test['target'], preds)
    return combined, precision

In [36]:
# Make predictions using the matches_rolling DataFrame and the specified predictors
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [37]:
precision

0.6409495548961425

In [38]:
combined = combined.merge(matches_rolling[['date','team','opponent','result']],left_index=True,right_index=True)

In [39]:
# Create a new column 'new_team' by mapping team names to shorter versions using a dictionary
class MissingDict(dict):
    __missing__= lambda self, key:key
map_values = {"Brighton and Hove Albion":"Brighton", 'Manchester United':'Manchester Utd','Newcastle United':'Newcastle Utd','Tottenham Hotspur':'Tottenham','West Ham United':'West Ham','Wolverhampton Wanderers':'Wolves'}
mapping = MissingDict(**map_values)
combined['new_team']= combined['team'].map(mapping)

In [40]:
# Merge the combined DataFrame with the matches_rolling DataFrame
merged = combined.merge(combined, left_on=['date', 'new_team'], right_on=['date', 'opponent'])

In [41]:
# Filter the merged DataFrame based on specific conditions
filtered = merged[(merged['prediction_x'] == 1) & (merged['prediction_y'] == 0)]

In [42]:
# Count the occurrences of each value in the 'actual_x' column
filtered['actual_x'].value_counts()

1    196
0     90
Name: actual_x, dtype: int64

In [46]:
# Print the column names of the matches DataFrame
filtered.head(20)

,actual_x,prediction_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,prediction_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
2,1,1,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
5,1,1,2022-03-13,Arsenal,Leicester City,W,Arsenal,0,0,Leicester City,Arsenal,L,Leicester City
12,1,1,2022-04-23,Arsenal,Manchester Utd,W,Arsenal,0,0,Manchester United,Arsenal,L,Manchester Utd
13,1,1,2022-05-01,Arsenal,West Ham,W,Arsenal,0,0,West Ham United,Arsenal,L,West Ham
14,1,1,2022-05-08,Arsenal,Leeds United,W,Arsenal,0,0,Leeds United,Arsenal,L,Leeds United
17,1,1,2022-05-22,Arsenal,Everton,W,Arsenal,0,0,Everton,Arsenal,L,Everton
19,1,1,2022-08-13,Arsenal,Leicester City,W,Arsenal,0,0,Leicester City,Arsenal,L,Leicester City
20,1,1,2022-08-20,Arsenal,Bournemouth,W,Arsenal,0,0,Bournemouth,Arsenal,L,Bournemouth
21,1,1,2022-08-27,Arsenal,Fulham,W,Arsenal,0,0,Fulham,Arsenal,L,Fulham
22,1,1,2022-08-31,Arsenal,Aston Villa,W,Arsenal,0,0,Aston Villa,Arsenal,L,Aston Villa
24,1,1,2022-09-18,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
25,1,1,2022-10-01,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
29,1,1,2022-10-30,Arsenal,Nott'ham Forest,W,Arsenal,0,0,Nottingham Forest,Arsenal,L,Nottingham Forest
32,1,1,2022-12-26,Arsenal,West Ham,W,Arsenal,0,0,West Ham United,Arsenal,L,West Ham
33,1,1,2022-12-31,Arsenal,Brighton,W,Arsenal,0,0,Brighton and Hove Albion,Arsenal,L,Brighton
38,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal,0,0,Brentford,Arsenal,D,Brentford
43,1,1,2023-03-04,Arsenal,Bournemouth,W,Arsenal,0,0,Bournemouth,Arsenal,L,Bournemouth
44,1,1,2023-03-12,Arsenal,Fulham,W,Arsenal,0,0,Fulham,Arsenal,L,Fulham
45,1,1,2023-03-19,Arsenal,Crystal Palace,W,Arsenal,0,0,Crystal Palace,Arsenal,L,Crystal Palace

In [44]:
print(matches.columns)

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'venue_code', 'opp_code', 'hour', 'day_code',
       'target'],
      dtype='object')

In [47]:
filtered.to_csv("MLM.csv")